{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="centerstage">
        
    <div class="jumbotron">
            <h1>About this Blog</h1>
            <p>Welcome to the Blog</p>
        </div>
        <div class="centerstage">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, totam ab. Rerum illum labore repellat vitae nostrum neque iusto commodi nam et ab sunt nulla incidunt eum ipsa necessitatibus quidem optio quos excepturi quod eius libero quisquam, sint fugiat sit? Veritatis error laborum, aspernatur iusto nihil incidunt, assumenda nulla asperiores autem recusandae vero. Nemo corrupti at quibusdam unde quidem ab illo. Est odio cupiditate vitae et neque ad dignissimos earum consequuntur, magni, illo error laboriosam, voluptatum repudiandae explicabo facilis corrupti incidunt veritatis repellat debitis odit pariatur? At aperiam libero nihil, voluptatem vel aspernatur ratione dolor dignissimos quod minus cumque voluptates!</p>
    </div>

</div>

{% endblock %}
