<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'%}">

    <link rel="stylesheet" href="{% static 'css/medium-editor.min.css'%}">

    <script src="{% static 'js/medium-editor.min.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <title>Document</title>
</head>
<body class='loader'>

    <nav class="navbar navbar-default techfont custom-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'post_list'%}" class="navbar-brand bigbrand">My blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="https://github.com/Adewole1">GitHub</a></li>
                <li><a href="https://linkedin.com/in/michael-adedayo-500b1a91/">LinkedIn</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'post_new'%}">New Post</a>
                    </li>
                    <li>
                        <a href="{% url 'draft_list' %}">Drafts</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">LogOut</a>
                    </li>
                    <li>
                        <a>Welcome: {{ user.username }}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav navbar-right" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-post">
                    
                    {% block content %}

                    {% endblock %}
                      
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>